[submodule "tcptrace_gui"]
	path = tcptrace_gui
	url = git@github.com:FinalTheory/pytcptrace.git
[submodule "libdivert"]
	path = libdivert
	url = git@github.com:FinalTheory/libdivert.git
[submodule "tcptrace"]
	path = tcptrace
	url = git@github.com:FinalTheory/tcptrace.git
[submodule "PacketPID"]
	path = PacketPID
	url = git@github.com:FinalTheory/PacketPID.git
